*{
    background-color: #ccc;
background-color: #ccc;
}
nav{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 1rem;
    margin : 17px;
    position: fixed;
    top: 0;
    right:0;

display: flex;
flex-direction: row;
justify-content: flex-end;
gap: 1rem;
margin : 17px;
position: fixed;
top: 0;
right:0;

}

.nav-btn{
    border: none;
    padding : 10px;
    cursor: pointer;
    border-radius: 5px;
    font-size: larger;
border: none;
padding : 10px;
cursor: pointer;
border-radius: 5px;
font-size: larger;
}

.nav-btn:hover{
cursor: pointer;
background-color: black;
color: aliceblue;

}


